{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'account/css/layout.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header id="header">
        <span class="logo">International History Students & Historians Group</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == 'dashboard' %} class='selected' {% endif %}>
                <a href="{% url 'home' %">My Dashboard</a>
            </li>
            <li {% if section == 'report' %} class='selected' {% endif %}>
                <a href="#">Report</a>
            </li>
        </ul>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }},
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Log-in</a>
            {% endif %}
        </span>
    </header>
        
    <section id=content>
        {% block content %}
        {% endblock %}
    </section>
</body>

</html>