{% extends "layout.html " %}

{% block title %}I.H.S.H.G.{% endblock %}

{% block content %}

<section class="content__greetings">
    <h1>The I.H.S.H.G</h1>
</section>
<section class="content__introduction">
    <p>Welcome to the International History Students & Historians Group.
        This project is part of the International History Students & Historians Group. Our main goal is
        to protect the world of heritage and sharing/connecting between students and
        professionals in the fields of History, Archaeology, Speleology and Anthropology.
        As protection of heritage concern, we will continue to ensure the protection of the entire historical and
        cultural heritage of any part of the world.
        This website gives the possibility for any person to report a monument vicinity that is damaged,
        in bad condition or scheduled for destruction in real time!</p>
</section>
<section class="content__register">
    <h1>Create an Account, it is quick and easy!</h1>
    <form method="POST">
        {{ registration_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Create an account"></p>
    </form>
</section>


{% endblock %}